/*Css Comments look like this */
@import url('https://fonts.googleapis.com/css?family=Acme|Indie+Flower|Pacifico');
* {
  box-sizing: border-box;
}
#topimg{
  box-sizing: border-box;
  border-top: 8px double tomato;
  border-right: 4px double orange;
  border-bottom: 4px double mediumseagreen;
  border-left: 4px double dodgerblue;
  width: 90%;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
}
h1{
  padding-left: 5px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Spicy Rice', cursive;
}
body{
   background-color: lightgray;
}
p.purple{
  color: purple;
  font-size: 20px;
  font-family: arial;
  background-color: gold;
}
p{
  font-size: 16px;
  color: black;
  font-style: oblique;
  font-family: Helvetica;
}
a {
    text-decoration : none;
  }
ul li:nth-child(odd){
  font-family: 'Indie Flower', cursive;
  background-color: #4285F4;
}
ul li:nth-child(2n){
  font-family: 'Pacifico', cursive;
  background-color: #DB4437;
}
ul li:last-of-type{
  font-family: 'Acme', sans-serif;
  background-color: #0F9D58;
}

a:visited{
color: white;
}

li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition-property: opacity;
  transition-duration: 3s;
  transition-delay: .02s;
  opacity: .20;
  height: 100px;
  width: 300px;
  font-size: 35px;
  font-weight: 500;
  color: white;
  text-align: center;
  list-style-position: inside;
}

li:hover{
  opacity: 1;
}

.flex-container{
  display: flex;
  flex-direction: column;

}
